
/* 字体家族 */

/* 字体大小 */
.f-11{
    font-size: 11px;
}


/* 字体颜色 */

.f-red{
    color:red;
}


/* 字体样式 */

.f-w600{
    font-weight: 600;
}

/* 字体行高 */

.lh-12{
    line-height: 1.2;
}


/* 背景颜色 */

.bg-red{
    background-color:red ;
}



/* 圆角，扁平 */

.flat{
    border-radius: 0px;
}

.round{
    border-radius: 50%;
}





/* 浮动 */

.float-left{
    float: left;
}



/* 距离 */

.mg-10{
    margin: 10px;
}

.mgt-10{
    margin-top: 10px;
}
.pd-10{
    padding: 10px;
}

.pdb-10{
    padding-bottom: 10px;
}

/* 边框 */