.xunmall-copyright {
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}
.xunmall-copyright .flag {
    width: 198px;
    height: 24px;
    background: url(/wui/images/logod.png) no-repeat;
    background-size: 198px;
    display: block;
    margin: 0 auto;
}

.img-avatar {
    display: inline-block!important;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.img-avatar-thumb {
    margin: 5px;
    box-shadow: 0 0 0 5px rgba(255,255,255,.4);
}
/* 千牛列表 */
.weui-panel1{
    -webkit-box-flex:1;
    -webkit-flex:1;
          flex:1;
}
.weui-top{
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    font-size: 13px;
    color: black;
}
.weui-down{
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    flex-direction: row;
    font-size: 11px;
    margin-top: 9px;
    position: relative;
}
.weui-down-first{
    width: 60px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.weui-down-second{
    width: 100%;
    /*background-color: red;*/
    text-align: right;
}
.iconfont{
    font-size: 11px;
    color: green;
}