/* 扩展样式集合 */

/* 仿微信底部的菜单 */

.weui-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: #f8f8f8;
    display: flex;
    flex-flow: row nowrap;
    border-top: 1px solid #ccc;
    outline: 0;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.weui-menu-inner {
    border-left: 1px solid #ccc;
    height: 100%;
    width: 100%;
    text-align: center;
    cursor: pointer;
    position: relative;
    user-select: none;

}
.weui-menu-inner span {
    line-height: 50px;
}
.weui-menu-inner img{
    width: 40px;
    margin-top: 5px;
    border-radius: 50%;
}