.main-wrap{
	/* 固定定位可能用在微信上面去，微信上面固定定位有问题 */
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
.header{
	height: 2.5rem;
	background-color: #37ab40;
	position: relative;
}
.center_wrap{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 2.5rem;
	top: 2.5rem;
	background-color: cyan;
    overflow-x: hidden;
    overflow-y: auto;
}
.footer{
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 2.5rem;
	background-color: red;
}
.logo{
    height: 1.8rem;
	width: 4.45rem;
	margin: 0.35rem auto 0;
    display: block;
}
.logo img{
    width: 100%;
}

.search{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    right: 1rem;
    top: 0.5rem;
}
.search img{
	width: 100%;
}
/* img 设置宽或者是高；有等比例缩放的属性 */
.slide img{
	width: 100%;
}
.menu{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: green;
}
.menu > div{
	width: 25%;
}
.menu > div > div > img{
	width: 2rem;
	height: 2rem;
}
.menu > div > div{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}
.menu > div > h1{
    font-size: 0.7rem;
    text-align: center;
}
/* 一行文字末尾出现省略号 */
/* auto 0 */
.haha{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/*margin: auto 0;*/
}

/* 文字做响应式 */
/* 大于375px */
@media(min-width: 380px){
     h1{
     	/*font-size: 30 px;*/
     }
}
/* 小于375px */
@media(max-width: 375px){

}

/* 流水布局 */
/* rem布局 */
/* flex布局 */







